@import url(pilot/desktop/sources/links/fonts.css);

body {
  margin: 0;
  background: #000;
  color: #fff;
  font-family: "input_mono_regular";
  line-height: 1.6;
}
a {
  color: #fff;
}
path {
  fill: currentColor;
}
#intro {
  padding: 10vw;
  max-width: 60ch;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
.showIntro #intro {
  display: block;
}
p.buttons {
  margin-bottom: 3em;
}
p.secondary {
  color: #555;
}
button {
  display: flex;
  align-items: center;
  font: inherit;
  color: #fff;
  background: #000;
  border: 2px solid #fff;
  border-radius: 2px;
  outline: none;
  padding: 0.5em 1.2em 0.5em 0.8em;
  white-space: nowrap;
}
button.primary {
  color: #000;
  background: #fff;
}
button > svg {
  width: 24px;
  height: 24px;
  margin-right: 0.5em;
}

footer {
  position: absolute;
  bottom: 22px;
  right: 35px;
  z-index: 2;
  font-size: 0.7em;
  opacity: 0;
}

#shareDialog {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 60ch;
  max-width: 90vw;
  box-sizing: border-box;
  padding: 1em 4em 3.3em;
  transform: translate(-50%, -50%);
  border-radius: 2px;
  background: #fff;
  color: #000;
  opacity: 0;
  pointer-events: none;
}
#shareDialog:focus-within {
  opacity: 1;
  z-index: 1;
  pointer-events: inherit;
}
#shareInput {
  flex: 1;
  padding: 1em;
  outline: none;
  border: 2px solid #000;
  border-radius: 2px;
}
#shareDialog button {
  border-color: #000;
}

.row {
  display: flex;
}
.row > * + * {
  margin-left: 10px;
}
.stack > * + * {
  margin-top: 1em;
}
#playButton {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
}
#playButton svg {
  width: 20vmin;
  height: 20vmin;
}
.showPlayButton #playButton {
  display: block;
}
iframe {
  border: 0;
  display: block;
  width: 100vw;
}
#orcaFrame {
  height: 100vh;
}
#pilotFrame {
  opacity: 0;
}
.started #pilotFrame,
.started footer {
  opacity: 1;
}
@media (min-height: 800px) {
  #orcaFrame {
    height: calc(100vh - 150px);
  }
}
@media (min-width: 769px) {
  iframe {
    position: absolute;
    top: 0;
  }
  #orcaFrame {
    width: calc(100vw - 250px);
    height: 100vh;
    left: 0;
  }
  #pilotFrame {
    width: 250px;
    height: 100vh;
    right: 0;
  }
}
